.topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}

.topbar h2{

    color:#333;

    font-size:32px;

}

.topbar p{

    color:#777;

    margin-top:5px;

}

.topbar-profile{

    display:flex;

    align-items:center;

    gap:18px;

}

.notification{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#fff;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    cursor:pointer;

    font-size:20px;

}

.avatar{

    width:48px;

    height:48px;

    border-radius:50%;

    background:#4CAF50;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

    font-size:20px;

}